header {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 6vh;
  background: #fff;
}

.header-animate {
  animation: anim-header 1.5s ease;
}

.header-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.header__logo img {
  height: 60px;
  width: 100px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__icon-bell {
  display: inline-block;
  font-size: 20px;
  opacity: .3;
  color: grey;
  cursor: pointer;
}

.header__icon-bell:hover {
  opacity: .5;
}

.header__profile-circle {
  display: inline-block;
  position: relative;
  top: -1px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: #ffa500;
  border-radius: 50%;
  opacity: .7;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-weight: bold;

}

.header__profile-circle:hover {
  opacity: 1;
}

.header__profile-circle input {
  display: block;
  position: absolute;
  top: -1px;
  width: 30px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
}

.header__profile-circle input:checked + .header__profile-content {
  display: block;
  position: absolute;
  margin-top: 10px;
  left: -110px;
  width: 140px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
  background: #fff;
  color: black;
}

.header__profile-content {
  display: none;
  font-size: 13px;
  text-align: left;
  transition: box-shadow 0.2s linear;
  animation: anim-opacity 1s ease !important;
}

.profile-content__name {
  position: relative;
  margin-bottom: 3px;
  font-size: 11px;
  opacity: .5;
  text-align: center;
}

.profile-content__name::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 2px;
  right: 10px;
  top: 30px;
  background-color: black;
  opacity: .5;
}

.profile-content__secondary {
  margin: 5px 15px;
}

.profile-content__secondary:hover {
  background: #f4f4f4;
  cursor: pointer;
}

@keyframes anim-header {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@keyframes anim-opacity {
  from {
    opacity: 0;
    left: -40px
  }

  to {
    opacity: 1;
  }
}
