main {
  padding-top: 17vh;
}

.main-container {
  display: flex;
  width: 100%;
  height: 70vh;
}

.main-container__content-left,
.main-container__content-right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.content-left__logo-qa,
.content-left__js-java {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.content-left__bsa-logo,
.content-left__qa {
  perspective: 1000px;
  height: 50%;
}

.content-left__js {
  perspective: 1000px;
  height: 75%;
}

.content-left__java {
  height: 25%;
}

.content-left__bsa-logo:hover .card,
.content-left__qa:hover .card,
.content-left__js:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card__face {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front.qa {
  background: #52BF77;
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}

.card__face--front.js {
  justify-content: flex-end;
  align-items: flex-end;
  background: #F7CF69;
  font-size: 70px;
  font-weight: 600;
}

.card__face--back {
  transform: rotateY(180deg);
  padding: 10px;
  font-weight: 700;
}

.card__face--back.qa,
.card__face--back.js {
  justify-content: flex-start;
  align-items: flex-start;
}

.card__face--back__bsa-logo--btn {
  width: 35%;
  height: 35px;
  display: inline-block;
  padding: 5px 30px;
  border: none;
  border-radius: 2px;
  background: #33cce3;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.card__face--back__bsa-logo--btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24)
}

.card__face--back__bsa-logo--btn:active {
  transform: scale(0.96); 
}

.card-trnslt {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-trnslt__face--back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #fff;
  font-weight: 700;
  overflow: auto;
}

.card-trnslt__face--front {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform: translateX(0%);
  background: #E12B4C;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  transition: transform .4s ease-in-out;
}

.card-trnslt:hover .card-trnslt__face--front {
  transform: translateX(100%);
}

.content-right__php {
  width: 100%;
  height: 40%;
}

.content-right__net {
  width: 60%;
  height: 60%;
}

.card-trnslt__face--front.php {
  background: #8893BF;
  color: #fff;
  font-weight: 500;
  font-size: 60px;
  font-style: italic;
}

.card-trnslt__face--front.net {
  font-size: 60px;
  font-weight: 500;
  background: #642077;
}

.card-trnslt:hover .card-trnslt__face--front.php,
.card-trnslt:hover .card-trnslt__face--front.net {
  transform: translateY(-100%);
}

.content-right__secondary {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.content-right__secondary-events {
  height: 40%;
}

.content-right__secondary-blog {
  height: 40%;
}

.content-right__secondary-contacts {
  height: 20%;
}

.card-trnslt__face--front.events {
  font-size: 14px;
  background: #2D99FF;
}

.card-trnslt__face--front.blog {
  font-size: 14px;
  background: #0443A3;
}

.card-trnslt__face--front.contacts {
  font-size: 14px;
  background: #00265F;
}

.contacts-icons {
  height: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.contacts-icons i:hover {
  color: #2D99FF;
  cursor: pointer;
}

.main-notifications {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.main-notifications > div {
  display: flex;
  padding: 20px 15px;
  border-radius: 3px;
  margin-bottom: 10px;
  color: #fff;
  opacity: .9;
}

.main-notifications__error {
  background: #CC615A;
}

.main-notifications__success {
  background: #6BAB69;
}

.main-notification__warning {
  background: #FAA045;
}

.main-notifications__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.main-notifications__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-notifications__content h1 {
  font-weight: 700;
}
